@mixin border-guide{
    border: 3px solid blue;
}

@mixin remove-link-style{
    text-decoration: none;
    color:$white;
}

@mixin remove-select{
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none; 
}

@mixin hover-style{
    &:hover, &:active{
        color:$white;
        background: $secondary;
        border: 1px solid transparent;
    }
}


@mixin flex-guide($justify, $align, $direction){
    display:flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin font-style($font-family, $font-size, $font-weight){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

