@mixin border-guide{
    border: 1px solid blue;
}

@mixin remove-link-style{
    text-decoration: none;
    color:$white;
}

@mixin remove-select{
    user-select: none; 
}

@mixin hover-style{
    &:hover, &:active{
        color:$white;
        background: $secondary;
        border: 1px solid transparent;
    }
}


@mixin flex-guide($justify, $align, $direction){
    display:flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin font-style($font-family, $font-size, $font-weight, $color){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

