// colors
$primary: #0e0718;
$secondary:rgb(11, 87, 226);
$accent: #FFFADE;
$white: rgb(243, 243, 243);
$black: rgb(12, 12, 12);


//font
$font-family: sans-serif;
$font-size-title: 24px;
$font-size-header: 20px;
$font-size-paragraph: 16px;
