.iconContainer{
    min-height: 100px;
    min-width: 100px;
    margin: 5px;
    margin-top: 0;
    @include flex-guide(center, center, column);
    p {
        margin: 5px;
        color : $white;
        font-size: large;
    }
}
.icon-content{
    display : grid;
    place-items: center;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

