.iconContainer{
    @include flex-guide(center, center, column);
    @include remove-select();
    height: calc(80px + 1vw);
    width: calc(80px + 1vw);
    margin: $space-main;
    margin-top: 0;
    margin-left: 0;
    p {
        @include font-style($font-family, medium, 100, $white);
		letter-spacing: $space-minor*2;
		text-transform : uppercase;
    }
}
.icon-content{
    display : grid;
    place-items: center;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

@media (max-width : $mobile){
    .iconContainer > p {
        display: none;
    }
}