.iconContainer{
    min-height: 100px;
    min-width: 100px;
    margin: 4px;
    margin-top: 0;
    @include flex-guide(center, center, column);
    @include remove-select();
    p {
        @include font-style($font-family, medium, 100, $white);
        margin: 5px;
		letter-spacing: 2px;
		text-transform : uppercase;
    }
}
.icon-content{
    display : grid;
    place-items: center;
    height: 100%;
    width: 100%;
    object-fit: fill;
}