#nav-container{
    @include flex-guide(flex-end, center, row);
    position: absolute;
    z-index:10 !important;
    width:100%;
    height:100px;
    padding:0 5vw;
    color: $white;
    
    #nav-container-start{
        @include flex-guide(flex-start,center, row);
        flex-grow: 12;
        height:100%;
        p {
            @include font-style($font-family, $font-size-paragraph, 500, $white);
            letter-spacing: $space-secondary;
            margin-left: 20px;
            @media (max-width : $tablet){
                display: none;
            }
        }
    }

    #nav-container-end{
        @include flex-guide(space-around,center, row);
        flex-grow: 1;
        gap:1em;
        .contact{
            @include flex-guide(center,center, row);
            @include font-style($font-family-secondary, larger, 600, rgba(255,255,255,0.7));
            letter-spacing: 0.2em;
            border-bottom: 4px solid rgba(0,0,0,0);
            padding:16px 0.5em 12px 0.5em;
            width: fit-content;
            transition:0.2s;
            cursor: pointer;
            &:hover{
                color: $white;
                border-bottom: 3px solid $secondary;
            }
        }
        .menu-icon-container{
            @include hover-style;
            @include flex-guide(center,center, row);
            border: 1px solid white;
            border-radius: 50%;
            padding:17px 18px;
            transition:0.2s;
            cursor:pointer;
            i{
                color:$white;
            }
            display: none;
            @media (max-width : $tablet){
                display: block;
            }
        }
    }
    *{
        @include remove-select()
    }
}

@media (max-width: $tablet){
    #nav-container-start p{
        font-size: $font-size-paragraph !important;
    }

    #nav-container-end{
        .contact{
            display:none !important;
        }
        .menu-icon-container{
            padding: 10px 11px !important;
        }
    }
}

.contact-dialog-container{
    background-color: $primary;
    padding: 2em 4em;
    *{
        color: $white;
    }
}
.table-value{
    @include font-style($font-family-secondary, large, 600, $white);
}

.contact-dialog-title{
    @include font-style($font-family-secondary, larger, 900, $white);
    letter-spacing: 0.2em;
    border-bottom: 4px solid rgba(0,0,0,0);
    padding:16px 0.5em 12px 0.5em;
    width: fit-content;
    transition:0.2s;
}

.download-cv{
    @extend .visit-link;
}

.table-value-email{
    @extend .table-value;
    border-bottom: 3px solid $secondary;
    cursor: pointer;
    &:hover{
        color:$secondary;
    }
}

.mobile-nav-dialog{
    height: 100vh;
    gap: 1em;
    padding: 2em 4em;
    background-color: $primary;
    color: $white;   
    p{
        @include font-style($font-family-secondary, larger, 600, rgba(255,255,255,0.7));
        letter-spacing: 0.2em;
        border-bottom: 4px solid rgba(0,0,0,0);
        padding:16px 0.5em 12px 0.5em;
        width: fit-content;
        transition:0.2s;
        cursor: pointer;
        margin: auto;
        &:hover{
            color: $white;
            border-bottom: 3px solid $secondary;
        }
    }
}