#nav-container{
    @include flex-guide(flex-end, center, row);
    position: absolute;
    width:100vw;
    height:100px;
    padding:0 5vw;
    color: $white;
    
    #nav-container-start{
        @include flex-guide(flex-start,center, row);
        flex-grow: 12;
        height:100%;
        #logo, p{
            cursor:pointer;
        }
        p {
            @include font-style($font-family, $font-size-title, 500);
            letter-spacing: 5px;
            margin-left: 20px;
        }
    }

    #nav-container-end{
        @include flex-guide(space-around,center, row);
        flex-grow: 1;
        .contact{
                @include remove-link-style;
                @include hover-style;
                @include flex-guide(center,center, row);
                @include font-style($font-family-secondary, $font-size-header, 100);
                letter-spacing: 2px;
                border-radius: 50px;
                border: 1px solid white;
                padding:16px 45px;
                transition:0.2s;
        }
        .menu-icon-container{
            @include hover-style;
            @include flex-guide(center,center, row);
            border: 1px solid white;
            border-radius: 50%;
            padding:17px 18px;
            transition:0.2s;
            cursor:pointer;
            i{
                color:$white;
            }
            
        }
    }
}

@media (max-width: $tablet){
    #nav-container-start p{
        font-size: $font-size-paragraph !important;
    }

    #nav-container-end{
        .contact{
            display:none !important;
        }
        .menu-icon-container{
            padding: 10px 11px !important;
        }
    }
}