.project-container{
    min-height: 100vh;
    position: relative;
    padding: $space-minor 4vw;
    @media (max-width : $tablet){
        min-height: fit-content;
        padding: $space-main 4vw;
    }
}
.project-text{
    text-align: center;
    @include font-style($font-family, $font-size-main, 900, $white);
    margin: $space-main;
    @media (max-width : $tablet){
        margin:$space-secondary 0;
        margin-top:4vw;
        text-align: left;
        @include font-style($font-family, $font-size-title, 700, $white);
        padding: 0 4vw;
    }
}

.project-image-container-odd{
    position: absolute;
    top:5%;
    right:0;
    width: 60%;
    @media (max-width : $tablet){
        top:0%;
        width: 100%;
        position:relative;
    }

    img{
        object-fit: cover;
        width: 100%;
    }
}

.project-image-container-even{
    position: absolute;
    top:5%;
    left:0;
    width: 60%;
    @media (max-width : $tablet){
        top:0%;
        width: 100%;
        position:relative;
    }
    img{
        object-fit: cover;
        width: 100%;
    }
}

.project-techstack{
    @include flex-guide(flex-start, center, row);
    @media (max-width : $tablet){
        display: none;
    }
}

.project-descriptions{

}

.project-description-container-odd{
    height:60%;
    @include flex-guide(space-between, flex-start, column);
    position: absolute;
    top: 10%;
    left: 8%;
    z-index: 9;

    @media (max-width : $tablet){
        left: 0%;
        position:relative;
        margin-bottom: $space-large;
    }
}

.project-description-container-even{
    height:60%;
    @include flex-guide(space-between, flex-start, column);
    position: absolute;
    top: 10%;
    right: 8%;
    z-index: 9;

    @media (max-width : $tablet){
        left: 0%;
        position:relative;
        margin-bottom: $space-large;
    }
}


.project-description-sub{
    @include font-style($font-family, large, 0, rgba(255, 255, 255, 0.5));

}

.project-description-title{
    @include font-style($font-family, $font-size-title, 600, white);
    margin-top: $space-large;
    margin-bottom: $space-large;

}

.project-description-link{
    @include font-style($font-family, $font-size-header, 200, white);
    letter-spacing: $space-main;
    border-bottom: 2px solid $secondary;
    width: fit-content;
    cursor: pointer;
    transition: 0.1s;
    &:hover{
        border-bottom: 5px solid $secondary;
    }
}