.project-container{
    min-height: 100vh;
    position: relative;
    padding: $space-minor 4vw;
    @media (max-width : $tablet){
        min-height: fit-content;
        padding: $space-main 4vw;
    }
}
.project-text{
    text-align: center;
    @include font-style($font-family, $font-size-main, 900, $white);
    margin: $space-main;
    @media (max-width : $tablet){
        margin:$space-secondary 0;
        margin-top:4vw;
        text-align: left;
        @include font-style($font-family, $font-size-title, 700, $white);
        padding: 0 4vw;
    }
}

.project-image-container-odd{
    position: absolute;
    top:5%;
    right:0;
    width: 60%;
    @media (max-width : $tablet){
        top:0%;
        width: 100%;
        position:relative;
    }

    img{
        object-fit: cover;
        width: 100%;
    }
}

.project-image-container-even{
    position: absolute;
    top:5%;
    left:0;
    width: 60%;
    @media (max-width : $tablet){
        top:0%;
        width: 100%;
        position:relative;
    }
    img{
        object-fit: cover;
        width: 100%;
    }
}

.project-techstack{
    @include flex-guide(flex-start, center, row);
    @media (max-width : $tablet){
        display: none;
    }
}

.project-description-container-odd{
    height:60%;
    @include flex-guide(space-between, flex-start, column);
    position: absolute;
    top: 10%;
    left: 8%;
    z-index: 9;

    @media (max-width : $tablet){
        left: 0%;
        position:relative;
        margin-bottom: $space-large;
    }
}

.project-description-container-even{
    height:60%;
    @include flex-guide(space-between, flex-start, column);
    position: absolute;
    top: 10%;
    right: 8%;
    z-index: 9;

    @media (max-width : $tablet){
        left: 0%;
        position:relative;
        margin-bottom: $space-large;
    }
}


.project-description-sub{
    @include font-style($font-family, large, 0, rgba(255, 255, 255, 0.5));

}

.project-description-title{
    @include font-style($font-family, $font-size-title, 600, white);
    margin-top: $space-large;
    margin-bottom: $space-large;

}

.project-description-link{
    @include font-style($font-family, large, 200, white);
    letter-spacing: $space-main;
    border-bottom: 2px solid $secondary;
    width: fit-content;
    cursor: pointer;
    transition: 0.1s;
    &:hover{
        border-bottom: 5px solid $secondary;
    }
}


.project-detial-container{
    min-height: 100vh;
    background: $primary;
    overflow-y: auto;
}

.project-inner-container{
    margin-top:4%;
}

.exit-button-container{
    position: absolute;
    padding:18px 22px;
    border-radius: 50%;
    border: 1px solid white;
    cursor:pointer;
    .fa-times{
        color: $white;
    }
    top:4%;
    right:4%;

    &:hover{
        border: 1px solid $secondary;
        background: $secondary;
    }
}

.visit-link{
    background-color: $secondary;
    @include remove-link-style;
    @include hover-style;
    @include flex-guide(center,center, row);
    @include font-style($font-family-secondary, large, 100, $white);
    letter-spacing: $space-minor;
    border-radius: 50px;
    border: $space-minor solid $secondary;
    padding:16px 45px;
    margin: 0 $space-secondary;
    transition:0.2s;
    cursor: pointer;
    display: inline;
    margin-left: 0;
}

.project-inner-techstack{
    width: 100%;
    margin-top: 4em;
    margin-bottom: 2em;
    @include flex-guide(center,center, row);
    gap: 2em;

    @media (max-width : $tablet){
        flex-wrap: wrap;
        gap: 0.5em;
    }
}

.project-description-learning{
    @include font-style($font-family, medium, 0, rgba(255,255,255,0.9));
    text-align: justify;
    padding-right: 0 $space-large;
    line-height: 1.3em;
    text-indent: 2em;
    letter-spacing: 0.05em;

    a{
        @extend .project-description-learning;
        margin-left: 0.5em;
        color: $secondary;
    }
}