@import './commons/variables';
@import './commons/mixin';
@import './nav';


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container{
  background:$primary;
  height:100vh;
}
