@import './commons/variables';
@import './commons/mixin';
@import './nav';
@import './homeTitle';
@import './projects';
@import './iconContainer';

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container{
  background:$primary;
  min-height:300vh;
  box-sizing: border-box;
}
